*{
    padding: 0;
    margin: 0;
    font-family: "Lorem Ipsum", sans-serif;
}
.container {
    width: 1320px;
    margin: 0 auto;
}
body {
    background-color: #f5f5f5;
    align-items: center;
}
header{
    height: 100px;
}
nav{
    height: 35px;
    background: #f6a200;
    margin-bottom: 3px;
}
nav .menu ul{
    list-style: none;
    margin-left: 89.7px ;
}
nav .menu ul li{
    float: left;
    line-height: 35px;
    padding: 0 25px;
}
nav .menu ul li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
nav .search form{
    float: right;
    line-height: 35px;
    margin-right: 89.7px ;
}
form input{
    padding: 5px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}
form button{
    font-size: 13px;
    padding: 5px 5px;
    color: white;
    background-color: dodgerblue;
    border: none;
    outline: none;
    border-radius: 5px;
}
article h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #2e3192;
    padding: 25px 0;
}
article .new_list .new_items1 h4{
    color: #c41a1a;
    font-size: 16px;
}
article .new_list .new_items2 h4{
    color: #c41a1a;
    font-size: 16px;
}
article .new_list .new_items3 h4{
    color: #c41a1a;
    font-size: 16px;
}
article .new_list .new_items1 img{
    width: 100%;
    padding: 2% 0;
    border: none;
    border-radius: 15px;
}
article .new_list .new_items2 img{
    width: 100%;
    padding: 2% 0;
    border: none;
    border-radius: 15px;
}
article .new_list .new_items3 img{
    width: 100%;
    padding: 2% 0;
    border: none;
    border-radius: 15px;
}
article .new_img{
    padding: 12px;
    border: 1px solid #ccc;
    color: #303030;
    background-color: white;
    font-size: 13px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 15px;
}
article .new_video{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    color: #303030;
    background-color: white;
    font-size: 16px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 15px;
}
article .new_video a{
    text-decoration: none;
    color: #c41a1a;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}
article .new_img img{
    width: 29%;
    padding: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    border: 2px solid #ccc;
    border-radius: 15px;
}
article .new_list .new_items1{
    width: 28%;
    padding: 12px;
    float: left;
    border: 1px solid #ccc;
    margin-left: 35px;
    color: #303030;
    font-size: 13px;
    background-color: white;
    border-radius: 15px;
}
article .new_list .new_items2{
    width: 28%;
    padding: 12px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 2%;
    margin-left: 2%;
    color: #303030;
    font-size: 13px;
    background-color: white;
    border-radius: 15px;
}
article .new_list .new_items3{
    width: 28%;
    padding: 12px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 35px;
    color: #303030;
    font-size: 13px;
    background-color: white;
    border-radius: 15px;
}
.cmt-angle {
    padding: 12px;
    border: 1px solid #ccc;
    color: #303030;
    background-color: white;
    font-size: 14px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 25px;
    border-radius: 15px;
}
.cmt-angle form input{
    background-color: #d9d9d9;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}
.cmt-angle form textarea{
    border: 2px solid #ccc;
    border-radius: 15px;
    //margin-bottom: 10px;
}
footer{
    background-color: #f6a200;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}